In [ ]:
# **PyBank

# In this activity, you are tasked with creating a Python script for analyzing the financial records of your company. You will be provided with a financial dataset in this file: budget_data.csv. This dataset is composed of two columns, Date and Profit/Losses. (Thankfully, your company has rather lax standards for accounting, so the records are simple.)
Your task is to create a Python script that analyzes the records to calculate each of the following:


The total number of months included in the dataset.


The net total amount of Profit/Losses over the entire period.


The average of the changes in Profit/Losses over the entire period.


The greatest increase in profits (date and amount) over the entire period.


The greatest decrease in losses (date and amount) over the entire period.#

In [11]:
from pathlib import Path
import csv

csvpath = Path("./Ramen assignment/week_2_homework_PyBank_Resources_budget_data.csv")

In [27]:
import pandas as pd

df = pd.read_csv(csvpath)

In [51]:
month_count = 0
total = 0
average_profit = 0
minimum_profit = 0
maximum_profit = 0

In [35]:
df["Profit/Losses"]

0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Name: Profit/Losses, Length: 86, dtype: int64

In [57]:
# The total number of months included in the dataset.

df["Date"].value_counts()

Jun-2016    1
Sep-2014    1
Oct-2010    1
Oct-2014    1
Jul-2015    1
           ..
Aug-2012    1
Sep-2013    1
Feb-2016    1
Dec-2013    1
Jul-2016    1
Name: Date, Length: 86, dtype: int64

In [41]:
#The net total amount of Profit/Losses over the entire period.

df["Profit/Losses"].sum()

38382578

In [48]:
# The average of the changes in Profit/Losses over the entire period.

df["Profit/Losses"].diff(1)

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [50]:
df["Profit/Losses"].diff(1).mean()

-2315.1176470588234

In [46]:
# The greatest increase in profits (date and amount) over the entire period.

df.loc[df['Profit/Losses']==df['Profit/Losses'].max()]

        Date  Profit/Losses
25  Feb-2012        1170593

In [47]:
# The greatest decrease in losses (date and amount) over the entire period.

df.loc[df['Profit/Losses']==df['Profit/Losses'].min()]

        Date  Profit/Losses
44  Sep-2013       -1196225